<% color_1 = current_user.school.color_1 %>
<% color_2 = current_user.school.color_2 %>


<style>
	a.btn.btn-primary.begin-track {
		color: <%= color_2 %>;
	}
	a.btn.btn-primary.begin-track:hover, div.circle {
		background-color: <%= color_1 %>;
	}
	a.link:hover {
		border-color: <%= color_1 %>;
	}

</style>
<!--  SEE YOUR RESPONSIBILITIES *******************************************************      -->
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
<div class="row">
	<div class="col-md-12">
		<h1 class="semi-super">So, <%= current_user.first_name %>... you're the <%= current_user.status.position.name %> at <a class="link" href="schools/<%= current_user.school.shortname %>"><%= current_user.school.name %></a>.</h1>
	</div>
</div>
<div class="row profile">
	<div class="col-md-8">
		

	<p class="small-caps">It's your job to:</p>


	<% case current_user.position.shortname %>
		<% when 'editor-in-chief' %>
		<h4>Build and oversee editorial content</h4>
		<h4>Finalize and publish all content to the site
</h4>
		<h4>Maintain high quality, college-focused content
</h4>
		<h4>Organize and lead weekly meetings</h4>
</h4>

		<% when 'managing-editor' %>
		<h4>Work closely with editor-in-chief and manage section editors</h4>
		<h4>Edit content and prepare for publishing</h4>


		<% when 'copy-editor' %>
		<h4>being wonderful</h4>
		<h4>Have exceptional attention to detail</h4>
		<h4>Edit writers’ stories for grammatical errors and things that don’t make sense</h4>
		<h4>Maintain the integrity of the writer’s original voice</h4>
		
		<% when 'writer' %>
		<h4>Brainstorm content ideas and write 4 articles per month</h4>
		<h4>Take photos for articles when necessary</h4>
		<h4>Promote stories on social media</h4>
		<h4>Maintain frequent contact with Spoon nationals</h4>
		
		<% when 'national-contributor' %>
		<h4>Brainstorm content ideas and write 2 articles per month</h4>
		<h4>Take photos for articles when necessary</h4>
		<h4>Promote stories on social media</h4>
		<h4>Maintain frequent contact with Spoon nationals</h4>
	
		<% when 'photo-director' %>
		<h4>Monitor all the photos produced by photographers at your school to make sure it’s all quality.</h4>
		<h4>Depending on how you choose to run your photo team, you may be responsible for selecting and uploading each of the photos into the stories from Flickr.</h4>
		<h4>You’ll need to make your school’s Flickr page, ASAP.</h4>

		<% when 'photographer' %>
		<h4>You’ll be paired with writers, and you’ll be responsible for taking their photos!</h4>
		<h4>Be sure to pay attention to Spoon’s expectations and take enough quality photos — visuals are very important to us!</h4>

		<% when 'business-director' %>
		<h4>Build and oversee marketing/PR team</h4>
		<h4>Develop relationships with student organizations</h4>
		<h4>Execute campus events, manage newsletter signups and social media presence</h4>
		<h4>Monitor Google analytics to make sure you’re promoting enough</h4>
		<h4>Make Spoon the coolest club on campus</h4>

		<% when 'marketing-team-member' %>
		<h4>As the go-getters, trendsetters and social-networkers of the team, the marketing/PR team members make everything happen. They get out there, shamelessly talk to people about Spoon, organize events and lead social media campaigns. They’re the powerhouse behind the campus Spoon brand.</h4>
		<h4>Post to Facebook, Twitter, Pinterest, etc. from your personal accounts and the Spoon account, if necessary.</h4>
		<h4>Enthusiastically participate in Spoon events. You could be organizing, working booths, shmoozing, sampling or flying a kite — represent Spoon and work hard, regardless.</h4>

		<% else %>
		<h4>... who do you think you are?</h4>

	<% end %>

		<!--  INSTRUCTIONS *******************************************************      -->


<div class="little-space"></div>
	<div class="row">
<div class="col-sm-6 ">
<div class="circle">
<div class="number">1</div>
</div>
<p class="center">Watch the videos on your track (designed specifically for your role!). All of the videos are only about <strong>one minute!</strong></p>
</div>
<div class="col-sm-6">
<div class="circle">
<div class="number">2</div>
</div>
<p class="center">Open up another browser window on your screen and <strong>do the activities as you go along</strong>, if it says so. Trust us.</p>
</div>
</div>
</div>
<div class="col-md-4 border-left">

	<!--  SEE YOUR PROGRESS *******************************************************      -->


	<h4>You are <%= current_user.percent_complete %>% through your track.</h4>
  <div id="personal_<%= current_user.id %>"></div>
  
	<% if current_user.scores %>
		<% track = current_user.position.track(current_user.position.pages.first) %>
		<div class="quiz-wrapper">
	    <% current_user.scores.each do |score| %>
				<% if current_user.position.pages.include?(score.page) %>
		      <div class="<%= track %>">
		      	<h4 class="quiz-title"><strong><%= score.page.name %></strong></h4>
		      	<div class="quiz-score"><%= score.percent_correct %>%</div><br>
		      	<a class="retake" href="/<%= track %>/<%= current_user.position.shortname %>/<%= score.page.shortname %>">RETAKE</a>
		      </div>
	   	  <% end %>
   	  <% end %>
		</div>
  <% end %> 

 
	<!--  BEGINYOUR TRACK *******************************************************      -->
	

		<a class="btn btn-primary btn-lg begin-track" href="<%= current_user.position.track(@page) %>/<%= current_user.position.shortname %>/<% if current_user.position.next_page(current_user.status.pages.last) %><%= current_user.position.next_page(current_user.status.pages.last).shortname %><% else %><%= current_user.position.pages.first.shortname %><% end %>">My Track</a>
	

<script>
  $(function() {
		donutOfCompleteness(<%= current_user.id %>, <%= current_user.percent_complete %>, "<%= current_user.position.track(current_user.position.pages.first) %>", true)
	});
</script>

</div>
</div>
</div>
</div>




