
<table id="sort-buttons">
  <thead>
    <tr>
      <th>Sort:</th>
      <th><%= link_to "Name", sort_by_path('name')%></th>
      <th><%= link_to "School", sort_by_path('school')%></th>
      <th><%= link_to "Position", sort_by_path('position')%></th>
    </tr>
  </thead>
</table>

<div class="row staff-directory">
<% @students.each do |student| %>
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><p><%= student.name %></p>
      	<p style="background: <%= student.school.color_1 %>; color: <%= student.school.color_2 %>" class="badge">
          <a class="school-link" href='/schools/<%= student.school.shortname %>'>
            <%= student.school.shortname %>
          </a>
        </p>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><%= student.position.name %></li>
          <li><%= student.phone_number %></li>
          <li><%= student.email %></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>