<div class="col-md-10 col-md-offset-1">
<% if current_user.school === @event.school || current_user.school.shortname == 'national' %><a class="pull-right icon-circle" href="<%= edit_event_path(@event)%>"><i class="fa fa-pencil"></i></a><% end %>
<h2><%= @event.name %></h2>
  	<p style="background: <%= @event.school.color_1 %>; color: <%= @event.school.color_2 %>" class="badge">
      <a class="school-link" href='/schools/<%= @event.school.shortname %>'>
        <%= @event.school.name %>
      </a>
    </p>
     <p>
    	<%= @event.description %>
    </p>
    <h4>What worked?</h4>
    <p>
    	<%= @event.success %>
    </p>
    <h4>What didn't?</h4>
     <p>
    	<%= @event.failure %>
    </p>
    <h4>What advice do you have?</h4>
        <p>
    	<%= @event.advice %>
    </p>
    <% if @event.link %><a target="_blank" class="btn btn-primary btn-lg" href="<%= @event.link %>">See Photos</a><% end %>
    <div class="little-space"></div>
  <a class="btn btn-primary" href="/events">Back to All</a>
  </div>

