<% school = @school %>

<h1><%= school.name %></h1>
<% if current_user.position.shortname == 'editor-in-chief' && current_user.school === school %>
<a href="<%= edit_school_path(@school)%>"><i class="fa fa-pencil"></i></a>
<% end %>

<ul class="list-inline">
  <% if school.facebook_url %>
    <li><a href="<%= school.facebook_url %>"><i class="fa fa-facebook"></i></a></li>
  <% end %>

  <% if school.twitter_url %>
    <li><a href="<%= school.twitter_url %>"><i class="fa fa-twitter"></i></a></li>
  <% end %>

  <% if school.instagram_url %>
    <li><a href="<%= school.instagram_url %>"><i class="fa fa-instagram"></i></a></li>
  <% end %>

  <% if school.spoon_url %>
    <li><a href="<%= school.spoon_url %>"><img class="little-spoon" src='/assets/logo-black.png'></a></li>
  <% end %>
</ul>
<div class="row active-users">
  <% if school.users_active != [] %>
    <% school.users_active.each do |student| %>
      <div class="col-lg-3 col-sm-4 active-user">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= student.name %>
              <button class="make-alum" class="deactivate-user">
                <% if current_user.is_admin? && current_user.school === school %>
                  <i class="fa fa-minus-square-o" data-userid="<%= student.id %>" ></i>
                <% end %>
              </button>
            </p>
          </div>
          <div class="panel-body" id="student_<%= student.id %>">
            <ul class="list-unstyled">
              <li><%= student.position.name %></li>
             
              <% if student.phone_number.empty? == false %>
              <li><%= student.phone_number %></li>
              <% end %>
              <% if student.email %>
              <li><%= student.email %></li>
              <% end %>
              <% if current_user.is_admin? && current_user.school === school %>
                <% if student.scores %>
                  <% student.scores.each do |score| %>
                    <li><%= score.page.name %> Quiz: <%= score.correct %> / <%= score.total %></li>
                  <% end %>       
                <% end %>  
              <% end %>
            </ul>
          </div>
        </div>
      </div>
        <% end %>
      <% else %>
      <p>Go get your team, yo.</p>
      <% end %>
    </div>
<button class="btn btn-primary" id='see-alum'>See Alum</button>
<div class="row alum">
  <% if school.users_inactive != [] %>
    <% school.users_inactive.each do |student| %>
      <div class="col-lg-3 col-sm-4 inactive-user">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= student.name %>
              <button class="activate-user">
                <% if current_user.is_admin? && current_user.school === school %>
                  <i class="fa fa-plus-square-o" data-userid="<%= student.id %>" ></i>
                <% end %>
            </button>
            </p>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><%= student.position.name %></li>
              <% if student.phone_number.empty? == false %>
              <li><%= student.phone_number %></li>
               <% end %>
              <% if student.email %>
              <li><%= student.email %></li>
               <% end %>          
            </ul>
          </div>
        </div>
      </div>
       <% end %>
  <% end %>

<script>
  function changeStatus(user_id, is_active){
    $.ajax({
        url: '/users/' + user_id,
        dataType: 'json',
        method: 'put',
        data: {active: is_active}
    })
    .success(function(data){
        console.log('user status has been changed');
        $('.alum-inactive').removeClass().addClass('alum-active');
    });
  }


  function displayAlum() {
    $('.alum-inactive').toggleClass("alum-inactive alum-active");
  }

  function setHandlers() {
    $('button.make-alum').click(function(e){
      var user_id  = $(e.target).data("userid");
      changeStatus(user_id, false);
      console.log()
      $(e.target.parentNode.parentNode.parentNode.parentNode).toggleClass("alum-active");

    });

    $('button.activate-user').click(function(e){
      var user_id  = $(e.target).data("userid");
      console.log(user_id);
      changeStatus(user_id, true);
    });

    $('#see-alum').click(function() {
      console.log('See Alumni')
      displayAlum();
    });
  }

  $(function() {
    setHandlers();
    <% if current_user.is_admin? && current_user.school === school %>
      <% if school.users_active != [] %>
        <% school.users_active.each do |student| %>
          donutOfCompleteness(<%= student.id %>, <%= student.percent_complete %>, "<%= student.position.track(student.position.pages.first) %>", false)
        <% end %>  
      <% end %>
    <% end %>

  
  });

</script>


