<% school = @school %>
<h1><%= school.name %></h1>
<ul>
  <% if school.facebook_url %>
    <li><a href="<%= school.facebook_url %>">Facebook</a></li>
  <% end %>

  <% if school.twitter_url %>
    <li><a href="<%= school.twitter_url %>">Twitter</a></li>
  <% end %>

  <% if school.instagram_url %>
    <li><a href="<%= school.instagram_url %>">Instagram</a></li>
  <% end %>

  <% if school.spoon_url %>
    <li><a href="<%= school.spoon_url %>">Spoon</a></li>
  <% end %>
</ul>


<div>
  
<h3>Active Users:</h3>
  <% if school.users != [] %>
    <% school.users.each do |user| %>
     <div><h1><%= user.name %></h1>
      <ul>
        <li><%= user.position.name %></li>
        <% if user.phone_number.empty? == false %>
          <li><%= user.phone_number %></li>
        <% end %>
        <% if user.email %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
  <% end %>
</div>






