<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="//use.typekit.net/pmb1dkw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <title>Spoon University Secret Sauce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
 <div class="container">
	<a href="/" id="logo"><%= image_tag "logo.png" %></a>
	<span class="navbar-right"><%= link_to "Log out", destroy_session_path(:user), :method => :delete %></span>
</div>
</nav>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class="container">
<%= yield %>
</div>
  

<!--   FACEBOOK JAVASCRIPT SDK -->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=569407923142222";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--   TWITTER JAVASCRIPT -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
